<%- include('../partials/header.ejs') %>
        <div class="container">
            <div class="pt-1 mb-2">
            <h2 class="mb-3 text-center"><%= event.title %></h2>
            <!-- Checking if viewing user is creator of Meetup -->
            <% if (event.hostName._id == user) { %>
              <form class="text-center">
                <input type="submit" formaction="/events/<%= event.id %>?_method=DELETE" formmethod="post" value="Delete" class="btn btn-lg btn-danger" title="Delete movie event">
                <input type="submit" formaction="/events/<%= event.id %>/edit" formmethod="get" value="Edit" class="btn btn-lg btn-success">  
              </form>
            <% } else if ((user) && (user != event.hostName._id)) { %>
              <form class="text-center">
                <strong class="h5">Want to join?</strong>
                <input type="submit" formaction="/events/<%= event.id %>/rsvp" formmethod="post" value="Yes" class="btn btn-lg btn-success" title="RSVP Yes" name="rsvp">
                <input type="submit" formaction="/events/<%= event.id %>/rsvp" formmethod="post" value="No" class="btn btn-lg btn-danger" title="RSVP No" name="rsvp">  
                <input type="submit" formaction="/events/<%= event.id %>/rsvp" formmethod="post" value="Maybe" class="btn btn-lg btn-dark" title="RSVP Maybe" name="rsvp">  
              </form>
            <% } %>
            </div>
            <!-- Used card model from bootstrap -->
            <div class="col d-flex justify-content-center">
            <div class="card mb-2 w-50">
                <img class="card-img-top" src="/<%= event.image %>" alt="<%= event.title %> movie poster" style="object-fit: cover;" width="286" height="398">
                <div class="card-body">
                  <h5 class="card-title"><%= event.title %></h5>
                  <p class="card-text"><%= event.details %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Category: </strong> <%= event.category %></li>
                  <li class="list-group-item"><strong>Host: </strong> <%= event.hostName.firstName + ' ' + event.hostName.lastName %></li>
                  <li class="list-group-item"><strong>Start Time: </strong> <%= (new Date(event.startTime)).toLocaleString() %></li>
                  <li class="list-group-item"><strong>End Time: </strong> <%= (new Date(event.endTime)).toLocaleString() %></li>
                  <li class="list-group-item"><strong>Location: </strong> <%= event.location %></li>
                  <li class="list-group-item"><strong>Number of RSVPS: </strong><%= rsvpCount %></li>
                </ul>
                <div class="card-body">
                  <a href="https://www.youtube.com/results?search_query=<%= encodeURIComponent(event.title) %>+trailer" target="_blank" class="card-link link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Watch trailer</a>
                  <a href="https://www.google.com/maps/search/<%= encodeURIComponent(event.location) %>" target="_blank" class="card-link link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Get directions</a>
                </div>
              </div>
            </div>

        </div>

<%- include('../partials/footer.ejs') %>